@use "../../../../assets/styles/palette" as *;
@use "../../../../assets/styles/mixins.scss" as *;

.b2b-textarea {
  width: 100%;
  height: 100%;
  border: solid 1px $gray-200;
  border-radius: 3px;
  outline: none;
  padding: 15px 10px;
  box-sizing: border-box;
  color: $gray-400;
  @extend .transition;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-200;
    border-radius: 3px;
  }

  &:hover {
    border-color: $gray-400;
  }

  &:focus {
    outline: none;
    border-color: $yellow-200;

    & ~ label {
      color: $yellow-200;
    }
  }

  #{".b2b-textarea--error &"} {
    border-color: $red-50;
  }

  &:focus ~ label {
    top: -100%;
    right: 7px;
    font-size: 1.3rem;
    padding: 3px;
    background: white;

    .b2b-textarea--error & {
      color: $red-50;
    }
  }

  &__notifications {
    display: flex;
    padding: 0 10px;
    font-size: 1.3rem;
    color: $gray-300;
  }

  &__error-message {
    height: 18px;
    color: $red-50;
    padding: 2px 0;
    margin-left: 10px;
  }

  &__help-text {
    padding: 2px 0;
  }

  &__input-length {
    text-align: left;
    margin-right: auto;
    width: 50px;
    padding: 2px 0;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__container {
    position: relative;
    min-height: 96px;
    min-width: 250px;
    direction: rtl;
  }

  &__label {
    position: absolute;
    top: -50px;
    bottom: 0;
    right: 10px;
    margin: auto;
    height: 10px;
    line-height: 10px;
    transition: all 0.3s ease;
    color: $gray-300;
    font-size: 1.6rem;

    &-top {
      top: -100%;
      right: 7px;
      font-size: 1.3rem;
      padding: 3px;
      background: white;
    }

    .b2b-textarea--error & {
      color: $red-50;
    }

    span {
      color: $yellow-200;
      margin-right: 4px;

      .b2b-textarea--error & {
        color: $red-50;
      }
    }
  }
}
